body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@mixin size-pattern($width, $height, $color, $align){
  width: $width;
  height: $height;
  background-color: $color;
  text-align: $align;
  display: table;
  position: relative;
  cursor: default;
}

@mixin font-pattern($font, $size, $color, $spacing){
  font-family: $font;
  font-size: $size;
  color: $color;
  letter-spacing: $spacing;
}

@mixin margin($top, $left, $right, $bottom){
  margin-top: $top;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

.display-table{
  display: table-cell;
  vertical-align: middle;
}

.display-inline{
  display: inline-block;
  vertical-align: middle;
}

.abstract{
  @extend .display-table;
  @include font-pattern(arial, 60px, #000, 0px);
  padding: 120px;
}

.first-mov, .second-mov, .fourth-mov{
  @include size-pattern(100%, 1000px, #FFF, center);
}

.third-mov, .fifth-mov, .sixth-mov{
  @include size-pattern(100%, 1000px, #FFF, justify);
}

.lets-start{
  @extend .display-table;
  @include font-pattern(helvetica, 10em, #000, 0px);
}

#logo{
  @extend .display-inline;
  @include size(400px, 470px);
  @include margin(200px, 0px, 0px, 0px);
}

#example{
  @extend .display-inline;
  @include size(900px, 700px);
  @include margin(130px, 0px, 0px, 0px);
}