body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

@mixin size-pattern($width, $height, $color, $align){
  width: $width;
  height: $height;
  background-color: $color;
  text-align: $align;
  display: table;
  position: relative;
  cursor: default;
}

@mixin font-pattern($font, $size, $color, $spacing){
  font-family: $font;
  font-size: $size;
  color: $color;
  letter-spacing: $spacing;
}

@mixin margin($top, $left, $right, $bottom){
  margin-top: $top;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
}

@mixin size($width, $height){
  width: $width;
  height: $height;
}

.background{
  background-image: url("../../public/images/auth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.strtoupper{
  text-transform: uppercase;
}

.display-table{
  display: table-cell;
  vertical-align: middle;
}

.button-design{
  @extend .strtoupper;
  border: 2px solid white !important;
  border-radius: 5px !important;
  background-color: #000 !important; 
  color: #FFF !important;
  cursor: pointer;
}

.abstract{
  @extend .display-table;
  @extend .strtoupper;
  @include font-pattern(arial, 45px, #000, 0px);
  padding: 120px;
}

.intro, .starting , .first-mov, .second-mov, .third-mov, .fourth-mov, .login-form, .after-auth{
  @include size-pattern(100%, 100vh, #FFF, center);
  @extend .background;
}

.fifth-mov, .sixth-mov, .access-key{
  @include size-pattern(100%, 100vh, #FFF, justify);
  @extend .background;
}

.lets-start, .information{
  @extend .display-table;
  @include font-pattern(helvetica, 7em, #000, 0px);
}

.hidden{
  display: none;
}

.key-word{
  @extend .strtoupper;
  @include font-pattern(arial, 45px, #000, 1px);
}

.size-text-space{
  height: 150px;
}

.appear{
  @extend .display-table;
}

.form-position{
  @extend .strtoupper;
  @include margin(2vh, 0vh, 0vh, 0vh);
}

#start{
  @extend .display-table;
  @extend .button-design;
  @include font-pattern(arial, 20px, #000, 1px);
  @include size(400px, 80px);
}

#present{
  @extend .button-design;
  @include font-pattern(arial, 18px, #000, 1px);
  @include size(200px, 50px);  
}

#start:hover, #present:hover{
  border: 2px solid black !important;
  background-color: #FFF !important;
  color: #000 !important;
}

.logo-align{
  @extend .display-table;
}

#logo{
  @include size(500px, 600px);
}

#example{
  @include size(800px, 600px);
}

#username, #password{
  @include size(450px, 45px);
}

#user_logged{
  @include font-pattern(arial, 25px, #000, 1px);
}

#login_text{
  @include font-pattern(arial, 38px, #000, 1px);
}

#login_submit{
  cursor: pointer;
  @include size(250px, 40px);
}