body {
  margin: 0;
  padding: 0; }

.background, .intro, .starting, .first-mov, .second-mov, .third-mov, .fourth-mov, .login-form, .after-auth,
.searching-grant, .simplifying, .kdc-flow, .krbconf-form, .krbconf, .working, .kerberize,
.practice, .hash-captched, .project-group, .fifth-mov, .sixth-mov, .access-key, .ticket-grant, .granted, .success-or-fail, .final-user-view,
.connect-ad, .kerberize-info, .conclusion, .references {
  background-image: url("../../public/images/auth.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.strtoupper, .button-design, #start, #how_works, #admin_view, #present, .abstract, .searching-grant, .key-word, .form-position, .encrypt-system, .user-view {
  text-transform: uppercase; }

.pointer, .button-design, #start, #how_works, #admin_view, #present, #login_submit {
  cursor: pointer; }

.display-table, .abstract, .searching-grant, .lets-start, .information, .appear, .logo-align, .encrypt-system, .user-view, .progress, #start, #how_works, #admin_view {
  display: table-cell;
  vertical-align: middle; }

.hidden {
  display: none; }

.size-text-space {
  height: 150px; }

.button-design, #start, #how_works, #admin_view, #present {
  border: 2px solid white !important;
  background-color: #000 !important;
  color: #FFF !important;
  border-radius: 5px !important; }

.abstract, .searching-grant {
  font-family: arial;
  font-size: 35px;
  color: #000;
  letter-spacing: 0px;
  padding: 120px; }

.intro, .starting, .first-mov, .second-mov, .third-mov, .fourth-mov, .login-form, .after-auth,
.searching-grant, .simplifying, .kdc-flow, .krbconf-form, .krbconf, .working, .kerberize,
.practice, .hash-captched, .project-group {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  text-align: center;
  display: table;
  position: relative;
  cursor: default; }

.fifth-mov, .sixth-mov, .access-key, .ticket-grant, .granted, .success-or-fail, .final-user-view,
.connect-ad, .kerberize-info, .conclusion, .references {
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  text-align: justify;
  display: table;
  position: relative;
  cursor: default; }

.lets-start, .information {
  font-family: helvetica;
  font-size: 7em;
  color: #000;
  letter-spacing: 0px; }

.key-word {
  font-family: arial;
  font-size: 45px;
  color: #000;
  letter-spacing: 1px; }

.form-position {
  margin-top: 2vh;
  margin-left: 0vh;
  margin-right: 0vh;
  margin-bottom: 0vh; }

.encrypt-system, .user-view {
  font-family: arial;
  font-size: 35px;
  color: #000;
  letter-spacing: 0px; }

.grant-service, .start-admin-view {
  margin-top: 5%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px; }

.progress {
  background-color: transparent;
  width: 100%;
  height: 50px; }

.progress-size {
  width: 100%; }

#start, #how_works, #admin_view {
  font-family: arial;
  font-size: 20px;
  color: #000;
  letter-spacing: 1px;
  width: 400px;
  height: 80px; }

#present {
  font-family: arial;
  font-size: 18px;
  color: #000;
  letter-spacing: 1px;
  width: 200px;
  height: 50px; }

#how_works, #admin_view {
  width: 400px;
  height: 60px; }

#start:hover, #how_works:hover, #admin_view:hover, #present:hover, #how_works:hover {
  border: 2px solid black !important;
  background-color: #FFF !important;
  color: #000 !important; }

#logo {
  width: 500px;
  height: 600px; }

#example, #realm {
  width: 800px;
  height: 600px; }

#in_practice {
  width: 800px;
  height: 450px; }

.text-input-size {
  width: 450px;
  height: 45px; }

.text-input-size-archive {
  width: 450px;
  height: 30px; }

#user_logged {
  font-family: arial;
  font-size: 25px;
  color: #000;
  letter-spacing: 1px; }

#login_text, #krb5 {
  font-family: arial;
  font-size: 38px;
  color: #000;
  letter-spacing: 1px; }

#login_submit {
  width: 250px;
  height: 40px; }

#bar {
  width: 0%;
  height: 50px; }
